.list-group {

  margin: auto;

  display: flex;
  flex-flow: row !important;

}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-group-item {
  border-top: 2px solid #eee !important;
  border-bottom: 2px solid #eee !important;
}

@media (max-width: 768px) {
  .list-group {
    flex-flow: column !important;
    width: 100%;
  }
  .filter {
    margin-bottom: 20px;
  }
}
