.logo {
  color: #ed143d !important;
  font-weight: bold !important;
}

nav a:hover {
  color: #ed143d !important;

}

.navbar-toggler {
  border-color: #ed143d !important;
}

.navbar-toggler:focus {
  border-color: #ed143d !important;
  box-shadow: none !important;

}

.nav-link{
  color: black!important;
  font-weight: bold!important;
}